<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <title>Update</title>
</head>

<body>
    <div class="container mt-5">
        <h2><%= title %></h2>
        <form action="/update-student" method="POST">
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="id" placeholder="ID" value="<%= id %>" />
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name" value="<%= name %>" />
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="number" class="form-control" name="age" placeholder="Age" value="<%= age %>" />
            </div>
            <div class="form-group">
                <label>Class</label>
                <input type="text" class="form-control" name="className" placeholder="Class" value="<%= className %>" />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>

</html>